<table class="table table-hover" id="leaderboardTable">
  <thead>
    <th>Rank</th>
    <th>Player Name</th>
    <th>Points</th>
  </thead>
  <% @leaderboard.each_with_index do |player, n| %>
    <tr>
      <td><%= player[:rank] %></td>
      <td><%= player[:user].email %></td>
      <td><%= player[:count] %></td>
    </tr>
  <% end %>
</table>
