<%= form_for [@report, comment], remote: true do |f| %>
  <h4>Add new comment</h4>

  <div class="field">
    <%= f.text_area :text %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
