<%= form_for [@report, comment] do |f| %>
  <h4>Add new comment</h4>

  <div class="field">
    <%= f.text_area :text %>
  </div>

  <div class="field">
  <%= f.file_field :attachment, class: "btn btn-default" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
