<div class="row">
  <div class="panel panel-default">
    <div class="panel-body project-panel">
      <div class="col-md-4 project-thumbnail text-center">
        <div class="project-image-container">
          <%= image_tag project.logo.url(:medium) %>
        </div>
      </div>

      <div class="col-md-8 project-description-index">
        <h3><%= link_to truncate(project.name, length: 60), project %></h3>
        <div class="project-summary text-justify"><%= truncate(project.description, length: 500) %></div>
      </div>
    </div>
  </div>
</div>
