<div class="container">
  <div class="row">
    <% if @projects.count < 1 %>
      <h3>You Have No Projects</h3>
      <p><%= link_to "Add a New Project", "projects/new", class: "btn btn-sm btn-primary"%></p>
    <% else %>
      <div class="row text-center">
        <h1>All Projects</h1>
        <% if current_user.present? %>
          <%= link_to "Add a New Project", new_project_url, class: "btn btn-sm btn-primary" %>
        <% else %>
          <%= link_to "Add a New Project", new_project_url, class: "btn btn-sm btn-primary", data: {confirm: "You must be signed in to start a project"} %>
        <% end %>
      </div>
      <div class="row projects-container">
        <%= render @projects %>
      </div>
    <% end %>
  </div>
</div>
