<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have a new comment from, <%= @report.author_id %></h1>
    <p>
      <%= @report.author_id.comment %>
    </p>
  </body>
</html>
