.project-thumbnail {
  border-right: 1px solid #EEE;
}

.project-image-container {
  height: 150px;
  width: 100%;
  display: table;
  padding: 10px;
  a {
    margin-top: 10px;
  }
}

.add-screenshot-container {
  height: 300px;
  background-color: #FFF;
}

.add-project-header {
  margin-bottom: 10px, 0, 10px, 0;
}

.projects-container {
  margin: 10px;
}

.project-panel {
  padding: 0;
}

.project-description {
  text-align: left;
  padding: 10px;
  h3 {
    margin-top: 0;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
