.project-image-container {
  height: 150px;
  width: 100%;
  display: table;
  padding: 10px;

  a {
    margin-top: 10px;
  }
}

.add-project-header {
  margin-bottom: 10px, 0, 10px, 0;
}

.projects-container {
  margin: 10px;
}

.project-panel {
  padding: 0;
}

.project-description-index {
  text-align: left;
  padding: 10px;
}
.project-description {
  padding: 0;
  h2 {
    margin: 0;
  }
}

.project-screenshots {
  .thumbnail {
    display: inline-block;
  }
}
