.home-body {
  header.main-header {
    background: transparent;
    position: absolute;
    width: 100%;

    a {
      color: #FFF;
    }

    .navbar-brand {
      background: image-url("bug-catcher-logo-white.png") no-repeat;
      width: 202px;
      height: 50px;
      display: block;
      text-indent: -99999px;
    }
  }
}

.home-jumbotron {
  background: image-url('ladybird_01.jpg') no-repeat;
  background-size: cover;

  @media screen and (min-width: 768px) {
    padding: 150px 0;
  }

  .jumbo-content-for-guest h1,
  .jumbo-content-for-user h1 {
    font-size: 2.9em;
    line-height: 1.2em;
    font-weight: bold;
    color: #FFF;
    text-shadow: 3px 3px 0 rgba(0,0,0,0.5);
    text-align: left;
  }

  .jumbo-content-for-guest h1 {
    max-width: 100%;
  }

  .jumbo-content-for-user h1 {
    text-align: center;
  }
}

.signup-card {
  width: 80%;
  margin: 0 auto;
  background-color: #FFF;
  box-shadow: 5px 5px 0px rgba(0,0,0, 0.4);
  border: 1px solid rgba(0,0,0,.2);

  @media (max-width: $screen-sm-max) { margin-top: 40px; }

  .signup-tabs {
    color: $gray-darker;

    .tab {
      text-align: center;
      padding: 10px;
      margin-bottom: 10px;
      background-color: #DFDFDF;
      cursor: pointer;
    }

    .active {
      background-color: #FFF;
    }
  }

  #signup-form, #signin-form {
    padding: $padding-base-vertical $padding-base-horizontal;
    .form-control {
      margin-bottom: 10px;
      border-radius: 0;
    }
    .remember-me {
      background-color: inherit;
      border: 0;
      box-shadow: none;
      text-align: left;
      font-size: 12px;
    }
  }
  #signin-form {
    display: none;
  }
}

.service-description {
  // margin-top: 40px;
  // margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    .row {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}

.projects-section {
  padding-bottom: 50px;

  .popular-projects {
    .thumbnail {
      border: none;
      background: none;
    }
  }
}