.mainJumbo {
  border: 1px solid rgba(0,0,0,.2);
  border-radius: $border-radius-small;
}

.signup-card {
  width: 80%;
  margin: 0 auto;
  background-color: $gray-lighter;
  border: 1px solid rgba(0,0,0,.2);
  @media (max-width: $screen-sm-max) { margin-top: 40px; }
  .signup-tabs {
    color: $gray-darker;
    .tab {
      text-align: center;
      padding: 10px;
      margin-bottom: 10px;
      background-color: white;
      cursor: pointer;
    }
    .active {
      background-color: $gray-lighter;
    }
  }
  #signup-form, #signin-form {
    padding: $padding-base-vertical $padding-base-horizontal;
    .form-control {
      margin-bottom: 10px;
      border-radius: 0;
    }
    .remember-me {
      background-color: inherit;
      border: 0;
      box-shadow: none;
      text-align: left;
      font-size: 12px;
    }
  }
  #signin-form {
    display: none;
  }
}

/*customize flash message for devise*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }
