<div class="row">
  <div class="col-md-8">
    <h4><%= link_to release.title, project_release_url(release.project, release) %></h4>
    <p><em>Closed <%= time_ago_in_words(release.updated_at) %> ago</em></p>
    <p>
      <%= release.description %>
    </p>
  </div>

  <div class="col-md-4 text-center">
    <p><strong>10 participants</strong></p>
  </div>
</div>
