<div class="container">
  <%= form_for Release.new do |f| %>
    <div class="form-group">
      <%= f.label :title, class: "form-control" %>
      <%= f.text_field :title, class: "form-control" %>
    </div>
  <% end %>
</div>
